{% extends "base.html" %}
{% block title %}Welcome{% endblock title %}
{% block content %}
    <div class="space"></div>
    <div class="container">
        <div class="row">
            <h1>Welcome to HealthItForward</h1>
            <p>We're glad you're here! Please feel free to take a look around. You can search for specific information
            below, or sign-in or register for an account above.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form class="form-inline">
                    <input type="text" class="form-control" placeholder="Search">
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}