{% extends "base.html" %}
{% block title %}Donate{% endblock title %}
{% block content %}
    <div class="container">
        <h4>Donate to Aggregating Outliers</h4>
        <p>To donate to Aggregating Outliers, please call 1-800-555-3849 or fill out the form below.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="card-wrapper">

            </div>
        </div>
        <div class="row">
            <form class="form-inline" style="padding-top: 10px" method="post">
                <div class="form-group">
                    <label class="sr-only" for="number">Card number</label>
                    <input type="text" name="number" class="form-control" placeholder="Card number">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="name">Name on card</label>
                    <input type="text" name="name" class="form-control" placeholder="Name on card"/>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="name">Expiration date</label>
                    <input type="text" name="expiry" class="form-control" placeholder="Expiration date"/>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="name">Card Verification Code</label>
                    <input type="text" name="cvc" class="form-control" placeholder="CVC"/>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="name">Donation amount</label>
                    <input type="text" name="amount" class="form-control" placeholder="Donation amount"/>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="space"></div>
{% endblock %}
{% block javascript %}
    <script src="/static/js/jquery.card.js" type="text/javascript"></script>
    <script>
        $('form').card({
            container: '.card-wrapper' // *required*
        });
    </script>
{% endblock %}