{% extends "base.html" %}
{% block title %}Welcome{% endblock title %}
{% block content %}
    <div class="space"></div>
    <div class="container">
        <div class="row">
            <h1 style="text-align:center">Welcome to HealthItForward</h1><br>
            <form class="form-inline col-md-12">
                <div style="display: block; margin: 0 auto;text-align:center">
                    <input type="text" class="form-control" placeholder="Search">
                    <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <br>
        <br>
        <div class="row">
            
            <div>
            <p class="col-md-6">
                  HealthItForward (formerly Aggregating Outliers) is a web application that collects medical data and identifies factors which may have the most significant effect on the treatment of diseases. It collects this data through a series of surveys that patients fill out detailing how different alternative treatments have impacted their recovery.
            </p>
            <p class="col-md-6"> 
                This data can be combined and used to find trends among alternative treatments, which can help to identify the specific reasons behind why certain patients cope with a disease better than others. These informal trends can then be studied further using randomized double-blind studies by medical research organizations and labs around the world to officially test their effectiveness.
            </p>
            </div>
        </div>
    </div>
{% endblock %}