{% extends "base.html" %}
{% block title %}Surveys{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <h4 style="margin-top: 0">Profile</h4>
            <div class="space" style="margin-top: 3em"></div>
            <form class="form-horizontal" method="post">
                <div class="form-group col-md-7">
                    <label for="email" class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        <input class="form-control" id="email" name="email"
                               placeholder="Email" value="{{ g.user.email }}"> 
                    </div>
                </div>
                <div class="form-group col-md-7">
                    <label for="dob" class="col-md-3 control-label">Date of birth</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control" id="dob" name="dob"
                               placeholder="Date of birth" value="{{ g.user.birthday }}"> 
                    </div>
                </div>
                <div class="form-group col-md-7" method="get">
                    <label for="sex" class="col-md-3 control-label">Sex</label>
                    <div class="col-md-9">
                        <select class="form-control" id="sex" name="sex">
                            {% for sex_code, sex_name in const.sex_codes.items() %}
                                {% if g.user.sex == sex_code %}
                                    <option value="{{ sex_code }}" selected>{{ sex_name }}</option>
                                {% else %}
                                    <option value="{{ sex_code }}">{{ sex_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-7" method="get">
                    <label for="country" class="col-md-3 control-label">Country</label>
                    <div class="col-md-9">
                        <select class="form-control" id="country" name="country">
                            {% for country_code, country_name in const.country_codes_by_name %}
                                {% if g.user_location.country == country_code %}
                                    <option value="{{ country_code }}" selected>{{ country_name }}</option>
                                {% else %}
                                    <option value="{{ country_code }}">{{ country_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-7" method="get">
                    <label for="race" class="col-md-3 control-label">Race</label>
                    <div class="col-md-9">
                        <select class="form-control" id="race" name="race">
                            {% for race_code, race_name in const.race_codes.items() %}
                                {% if g.user.race == race_code %}
                                    <option value="{{ race_code }}" selected>{{ race_name }}</option>
                                {% else %}
                                    <option value="{{ race_code }}">{{ race_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-7" method="get">
                    <div class="col-md-3"> 
                        <label class="control-label">Introduce Yourself to the Community</label>
                    </div>
                    <div class="col-md-9"> 
                        {% if g.user.intro %}
                            <textarea class="form-control" id="intro" name="intro" rows="4" 
                            placeholder="What would you like other to know about you?">{{ g.user.intro }}</textarea>
                        {% else %}
                            <textarea class="form-control" id="intro" name="intro" rows="4" 
                            placeholder="What would you like other to know about you?"></textarea>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="col-md-4" style="float:right; right:2%">
                        <button type="submit" class="btn btn-block btn-fill btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}