{% extends "base.html" %}
{% block title %}Surveys{% endblock title %}
{% block content %}
    <div class="container">
        <h4>Surveys</h4>
        <p>Click any survey below to take it to provide information to HealthItForward about how you're doing.</p>
        <div class="list-group col-md-5">
	        <a href="{{ url_for('survey1_page') }}" class="list-group-item">
	        	<strong>General Health Info Survey</strong>
	    	</a>
	    	<a href="{{ url_for('survey2_page') }}" class="list-group-item">
	        	<strong>Quality of Life Survey</strong>
	        </a>
	    	<a href="{{ url_for('survey3_page') }}" class="list-group-item">
	        	<strong>Parkinson's Survey</strong>
	        </a>
    	</div>
    </div>
    <div class="space"></div>
{% endblock %}
