{% extends "base.html" %}
{% block title %}General Health Info Survey{% endblock title %}
{% block content %}

    <div class="container">
        <form class="form-horizontal" role="form" method="post">
            <h4>General Health Info Survey</h4> <br>
            <div class="form-group">
                <label for="height" class="col-md-3 control-label">Height</label>
                <div class="col-md-2">
                    <input id="ft-input" type="text" name="bp" class="form-control">
                </div>
                <div class="col-md-1" id="unit-label">
                    <strong>ft</strong>
                </div>
                <div class="col-md-2" id="in-input">
                    <input id="in-input" type="text" name="bp" class="form-control">
                </div>
                <div class="col-md-1" id="unit-label">
                    <strong>in</strong>
                </div>
            </div>

            <div class="form-group">
                <label for="weight" class="col-md-3 control-label">Weight</label>
                <div class="col-md-2">
                    <input id="lb-input" type="text" name="bp" class="form-control">
                </div>
                <div class="col-md-1" id="unit-label">
                    <strong>lb</strong>
                </div>
                <div class="col-md-2" id="in-input">
                    <input id="lb-input" type="text" name="bp" class="form-control">
                </div>
                <div class="col-md-1" id="unit-label">
                    <strong>oz (optional)</strong>
                </div>
            </div>

            <div class="form-group">
                <label for="bp" class="col-md-3 control-label">Blood Pressure</label>
                <div class="col-md-2" style="text-align: left">
                    <input type="text" id="bp" name="bp" placeholder="120/80" class="form-control">
                </div>

                <div class="container">
                  <!-- Trigger the modal with a button -->
                  <button type="button" class="btn btn-info btn" data-toggle="modal" data-target="#myModal">?</button>

                  <!-- Modal -->
                  <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title" id="modal-title" style="text-align:center">Blood Pressure</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                The first (or top) number is your systolic blood pressure. It is the highest level your blood pressure 
                                reaches when your heart beats.
                            </p>
                            <br>
                            <p>
                                The second (or bottom) number is your diastolic blood pressure. It is the lowest level your blood pressure reaches as your heart relaxes between beats.
                            </p>
                            <img src="{{ url_for('static', filename = 'css/images/blood_pressure.png') }}" alt="Blood Pressure" width="360" height="400"style="display: block; margin: 0 auto;">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary active" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                      
                    </div>
                  </div>
            </div>
            </div>

            <div class="form-group">
                <label for="hospitalized" class="col-md-3 control-label">Have you been hospitalized in the last 6 months?</label>
                <div class="col-md-9" style="text-align: left">
                    {% with radio_name="hospitalized" %}
                        {% include "components/yesnoradio.html" %}
                    {% endwith %}
                </div>
            </div>

            <div class="form-group">
                <label for="smoke" class="col-md-3 control-label">Do you smoke on a daily basis?</label>
                <div class="col-md-9" style="text-align: left">
                    {% with radio_name="smoke" %}
                        {% include "components/yesnoradio.html" %}
                    {% endwith %}
                </div>
            </div>

            <div class="form-group">
                <label for="livesmoke" class="col-md-3 control-label">Do you live with someone that smokes on a daily basis?</label>
                <div class="col-md-9" style="text-align: left">
                    {% with radio_name="livesmoke" %}
                        {% include "components/yesnoradio.html" %}
                    {% endwith %}
                </div>
            </div>

            <div class="form-group">
                <label for="alcohol" class="col-md-3 control-label">Do you consume alcohol at least 3 times per week?</label>
                <div class="col-md-9" style="text-align: left">
                    {% with radio_name="alcohol" %}
                        {% include "components/yesnoradio.html" %}
                    {% endwith %}
                </div>
            </div>

            <div class="form-group">
                <label for="livealcohol" class="col-md-3 control-label">Do you live with someone that drinks
                    alcohol at least 3 times per week?</label>
                <div class="col-md-9" style="text-align: left">
                    {% with radio_name="livealcohol" %}
                        {% include "components/yesnoradio.html" %}
                    {% endwith %}
                </div>
            </div>

            <div class="form-group">
                <label for="medication" class="col-md-3 control-label">Are you currently taking any over-the-counter
                    medications?</label>
                <div class="col-md-9" style="text-align: left">
                    {% with radio_name="medication" %}
                        {% include "components/yesnoradio.html" %}
                    {% endwith %}
                </div>
            </div>

            <div class="form-group">
                <label for="presmedication" class="col-md-3 control-label">Are you currently taking any prescription
                    medications?</label>
                <div class="col-md-9" style="text-align: left">
                    {% with radio_name="presmedication" %}
                        {% include "components/yesnoradio.html" %}
                    {% endwith %}
                </div>
            </div>

            <div class="form-group">
                <label for="pcp" class="col-md-3 control-label">Do you have a primary care physician?</label>
                <div class="col-md-9" style="text-align: left">
                    {% with radio_name="pcp" %}
                        {% include "components/yesnoradio.html" %}
                    {% endwith %}
                </div>
            </div>
            <div class="col-md-offset-8">
                <button type="submit" class="col-md-9 btn btn-block btn-fill btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="space"></div>
{% endblock %}